{{#if uid}}
{{> navbar2}}
{{else}}
{{> navbar}}
{{/if}}
<br/><br/><br/><br/><br/>

<div class="container">
    <div class="jumbotron">
        <i><h1 style="text-align: center;">Organize it all with Todoist</h1></i><br/>
        <b><i><p style="text-align: center;">Regain clarity and calmness by getting all those tasks out of your head and onto your to-do list (no matter where you are or what device you use).</p></i></b>
    </div>
</div>