{{> navbar}}
<br/><br/><br/><br/><br/>

<div class="d-flex justify-content-center ">
<div class="card mb-3">
  <h3 class="card-header">To-Do List</h3>
  <div class="card-body">
    <p class="card-text">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="New Task">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Add task</button>
    </form>    
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        Eat
        <a href="#"><i class="fas fa-trash" style="float: right;"></i></a>
    </li>
    <li class="list-group-item">Sleep</li>
    <li class="list-group-item">Repeat</li>
  </ul>
</div>
</div>